Repository team-apm/apm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(release): 3.12.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(renderer): coreBridge を削除しインストール先はメインワールドが DOM を直接読む
  src/renderer/main/aviutl/BatchInstallButton.tsx
  src/renderer/main/aviutl/BatchInstallList.tsx
  src/renderer/main/aviutl/ProgramRow.tsx
  src/renderer/main/aviutl/SelectInstallationPathButton.tsx
  src/renderer/main/instPath.ts
  src/renderer/main/nicommons/NicommonsTab.tsx
  src/renderer/main/packages/PackagesTab.tsx
  src/renderer/main/preload.ts
  src/renderer/main/settings/ManualUpdateTable.tsx
  src/types/mainRenderer.d.ts
Due: eslint --fix, prettier --write

refactor(about): process.versions の contextBridge 露出を tRPC query に置き換える
  src/main/api.ts
  src/renderer/about/About.tsx
  src/renderer/about/preload.ts
Due: eslint --fix, prettier --write

refactor(renderer): データエディタの contextBridge を削除し React から tRPC を直接呼ぶ
  src/renderer/main/monacoEditorPreload.ts
  src/renderer/main/monacoEditorRenderer.tsx
  src/renderer/main/packages/packagesListCheck.ts
  src/renderer/main/preload.ts
  src/renderer/main/renderer.tsx
  src/types/mainRenderer.d.ts
Due: eslint --fix, prettier --write

build(renderer): monaco-editor の AMD ビルドを main_window/vs に同梱する
  package.json
  webpack.renderer.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat(security): データエディタの Monaco をローカル同梱から読み込み CSP の CDN 許可を撤去する
  src/renderer/main/index.html
  src/renderer/main/monacoEditorRenderer.tsx
Due: eslint --fix, prettier --write

docs: セキュリティフェーズ(Phase 4)完了を ROADMAP に反映する
  AGENTS.md
  ROADMAP.md
Due: prettier --write

fix(renderer): dev サーバで Monaco の読み込み先が 404 になるのを修正する
  src/renderer/main/monacoEditorRenderer.tsx
Due: eslint --fix, prettier --write

test(e2e): パッケージ版を起動する Playwright スモークを導入する
  .gitignore
  AGENTS.md
  e2e/launch.spec.ts
  package.json
  playwright.config.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

ci: 起動スモーク E2E のワークフローを追加する
  .github/workflows/e2e.yml
Due: prettier --write

fix(shared): パッケージ版の 7za に実行権限が無く展開が失敗するのを修正する
  src/shared/unzip.ts
Due: eslint --fix, prettier --write

test(e2e): インストールフローの E2E を追加する
  e2e/helpers.ts
  e2e/install.spec.ts
  e2e/launch.spec.ts
Due: eslint --fix, prettier --write

test(e2e): クリーン環境の初回起動を待つようにインストール E2E を直す
  e2e/install.spec.ts
Due: eslint --fix, prettier --write

feat(main): --user-data-dir スイッチで userData を差し替えられるようにする
  src/main/index.ts
Due: eslint --fix, prettier --write

test(e2e): 一時 userData で起動して実プロファイル非依存にする
  e2e/helpers.ts
  e2e/install.spec.ts
  e2e/launch.spec.ts
Due: eslint --fix, prettier --write

docs: userData 分離(E2E)を AGENTS.md に追記
  AGENTS.md
Due: prettier --write

test(e2e): アンインストールフローを追加する
  e2e/install.spec.ts
Due: eslint --fix, prettier --write

test(e2e): コア(AviUtl 本体)インストールの E2E を追加する
  e2e/core.spec.ts
  e2e/fixtures.ts
  e2e/install.spec.ts
Due: eslint --fix, prettier --write

build(deps-dev): electron を 40 に更新する
  package.json
  yarn.lock
Due: prettier --write

docs: 次の一手を Phase 6(メジャー依存更新)に更新する
  ROADMAP.md
Due: prettier --write

build(deps-dev): electron を 41 に更新する
  package.json
  yarn.lock
Due: prettier --write

build(deps-dev): electron を 42 に更新する
  package.json
  yarn.lock
Due: prettier --write

build(deps-dev): electron を 43 に更新する
  package.json
  yarn.lock
Due: prettier --write

build(deps-dev): eslint を 9 に更新し flat config 化する
  .eslintignore
  .eslintrc
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier --write

build(deps): tRPC 11 + react-query 5 へ更新し electron-trpc を trpc-electron に置き換える
  package.json
  src/lib/trpcClient.ts
  src/main/api.ts
  src/main/windows.ts
  src/renderer/about/App.tsx
  src/renderer/about/preload.ts
  src/renderer/main/TrpcProvider.tsx
  src/renderer/main/aviutl/BatchInstallButton.tsx
  src/renderer/main/aviutl/BatchInstallList.tsx
  src/renderer/main/aviutl/ProgramRow.tsx
  src/renderer/main/aviutl/SelectInstallationPathButton.tsx
  src/renderer/main/monacoEditorRenderer.tsx
  src/renderer/main/nicommons/NicommonsTab.tsx
  src/renderer/main/packages/PackageActions.tsx
  src/renderer/main/packages/PackagesTab.tsx
  src/renderer/main/preload.ts
  src/renderer/main/settings/DataUrlSettings.tsx
  src/renderer/main/settings/ManualUpdateTable.tsx
  src/shared/trpcIdNamespace.ts
  yarn.lock
Due: eslint --fix, prettier --write

docs: trpc-electron への置換を AGENTS.md と ROADMAP.md に反映する
  AGENTS.md
  ROADMAP.md
Due: prettier --write

build(deps-dev): electron-forge を 7.11.2 に更新し 6.4.1 固定を解除する
  .ncurc.json
  package.json
  yarn.lock
Due: prettier --write

docs: forge 7 更新と Phase 6 完了を AGENTS.md と ROADMAP.md に反映する
  AGENTS.md
  ROADMAP.md
Due: prettier --write

build(security): dev CSP から cdn.jsdelivr.net を撤去しパッケージ版と同一化する
  forge.config.ts
Due: eslint --fix, prettier --write

chore(release): 3.13.0
  CHANGELOG.md
  package.json
Due: prettier --write

build(deps): 依存を minor/patch の最新へ一括更新する
  package.json
  yarn.lock
Due: prettier --write

style: prettier 3.9 の整形変更を適用する
  src/main/api.ts
  src/main/services/packages.ts
  src/renderer/main/nicommons/NicommonsTab.tsx
  src/renderer/main/packages/PackagesTab.tsx
Due: eslint --fix, prettier --write

docs: dataUrl の JSDoc の Function 型を具体化する
  src/shared/dataUrl.ts
Due: eslint --fix, prettier --write

build(deps): yarn.lock をレンジ内の最新へ更新する
  yarn.lock
Due: none

docs: stale になっていた AGENTS.md 内の参照を修正
  AGENTS.md
Due: prettier --write

docs: 構成セクションの新設とコマンド一覧の補完
  AGENTS.md
Due: prettier --write

docs: 完了済みの前提に基づく指示を実態に合わせて修正
  AGENTS.md
Due: prettier --write

docs: 開発方針の単一ソースを AGENTS.md へ統合し ROADMAP.md を廃止
  AGENTS.md
  ROADMAP.md
Due: prettier --write

docs: 移行完了後の現状に合わせて ARCHITECTURE.md を全面更新
  AGENTS.md
  ARCHITECTURE.md
Due: prettier --write

build: monaco の型のみインポートと renderer の fs import 禁止を lint で強制
  eslint.config.mjs
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,yml,md,html,css,scss})
