Repository team-apm/apm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

build: keep electron-forge at 6.4.1 to fix renderer webpack build
  .ncurc.json
  package.json
  yarn.lock
Due: prettier --write

chore: update yarn.lock
  yarn.lock
Due: none

build(deps): bump dependencies to latest minor versions
  package.json
Due: prettier --write

build: add .ncurc.json for controlled dependency updates
  .ncurc.json
Due: prettier --write

build: bump dev tooling majors and require Node 22+
  .github/dependabot.yml
  README.en.md
  README.md
  docs/RELEASING.md
  package.json
  yarn.lock
Due: prettier --write

build(deps): bump jsdoc, prettier-plugin-packagejson, and ssri
  package.json
  yarn.lock
Due: prettier --write

chore: release v3.10.0
  CHANGELOG.md
  package.json
Due: prettier --write

ci: pin Node 22 for release and build workflows
  .github/workflows/build.yml
  .github/workflows/release.yml
  docs/RELEASING.md
Due: prettier --write

build(release-it): restore release commit message and title format
  .release-it.json
  docs/RELEASING.md
Due: prettier --write

test: introduce Vitest test infrastructure
  package.json
  vitest.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor(modList): extract resolvePath into its own module
  src/lib/modList.ts
  src/lib/resolvePath.ts
Due: eslint --fix, prettier --write

fix(compareVersion): compare dates correctly and return NaN when incomparable
  src/lib/compareVersion.ts
  src/renderer/main/core.ts
  src/renderer/main/package.ts
Due: eslint --fix, prettier --write

fix(apmPath): make isParent return an actual boolean
  src/lib/apmPath.ts
Due: eslint --fix, prettier --write

test: add unit tests for lib utilities
  src/lib/apmPath.test.ts
  src/lib/compareVersion.test.ts
  src/lib/integrity.test.ts
  src/lib/resolvePath.test.ts
  src/lib/safeRemove.test.ts
Due: eslint --fix, prettier --write

ci: run tests in Node CI and document the Node 22 pin
  .github/workflows/nodejs.yml
Due: prettier --write

docs: add AGENTS.md as the single agent instruction source
  AGENTS.md
  CLAUDE.md
Due: prettier --write

style: resolve import/no-named-as-default-member eslint warnings
  src/lib/integrity.test.ts
  src/lib/safeRemove.test.ts
  src/lib/updatableList.ts
Due: eslint --fix, prettier --write

docs: add ROADMAP.md and make dependabot cadence sustainable
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  ROADMAP.md
Due: prettier --write

fix(security): validate IPC path inputs and replace execSync with shell.openPath
  src/main/main.ts
Due: eslint --fix, prettier --write

build(deps): bump electron from 34 to 39
  package.json
  yarn.lock
Due: prettier --write

docs(roadmap): record the AviUtl2 no-go decision
  ROADMAP.md
Due: prettier --write

feat(modList): editorPackages.json をローカルパッケージデータ源に追加
  src/lib/modList.ts
  src/lib/parseJson.ts
  src/renderer/main/renderer.ts
Due: eslint --fix, prettier --write

feat: 設定タブに data editor を追加
  forge.config.ts
  src/renderer/main/index.html
  src/renderer/main/monacoEditorPreload.ts
  src/renderer/main/monacoEditorRenderer.tsx
  src/renderer/main/preload.ts
  src/renderer/main/renderer.tsx
  src/types/mainRenderer.d.ts
Due: eslint --fix, prettier --write

build(deps): add @monaco-editor/react and monaco-editor
  package.json
  yarn.lock
Due: prettier --write

docs: forge の Node 24 無言失敗と Monaco 型のみインポートを追記
  AGENTS.md
  ROADMAP.md
Due: prettier --write

build(webpack): 本番ビルドの renderer から inline source map を除外
  webpack.renderer.config.ts
Due: eslint --fix, prettier --write

refactor: electron 非依存の純粋モジュールを src/shared/ へ移動
  AGENTS.md
  src/lib/modList.ts
  src/lib/safeRemove.ts
  src/main/main.ts
  src/renderer/main/core.ts
  src/renderer/main/package.ts
  src/renderer/main/packageUtil.ts
  src/shared/apmPath.test.ts
  src/shared/apmPath.ts
  src/shared/compareVersion.test.ts
  src/shared/compareVersion.ts
  src/shared/getHash.ts
  src/shared/integrity.test.ts
  src/shared/integrity.ts
  src/shared/resolvePath.test.ts
  src/shared/resolvePath.ts
Due: eslint --fix, prettier --write

docs: アーキテクチャ文書 ARCHITECTURE.md を追加
  ARCHITECTURE.md
Due: prettier --write

test(ApmJson): トランザクション化前の特性化テストを追加
  src/lib/ApmJson.test.ts
Due: eslint --fix, prettier --write

refactor(migration): parseXML.js を TypeScript 化
  src/migration/parseXML.js
  src/migration/parseXML.ts
Due: eslint --fix, prettier --write

fix(unzip): 7z エラー時に promise を reject してハングを防ぐ
  src/lib/unzip.test.ts
  src/lib/unzip.ts
Due: eslint --fix, prettier --write

refactor(main): main.ts を index.ts / windows.ts / ipcHandlers.ts / services に分割
  src/main/index.ts
  src/main/ipcHandlers.ts
  src/main/main.ts
  src/main/services/appUpdate.ts
  src/main/services/download.ts
  src/main/services/nicommons.ts
  src/main/windows.ts
  webpack.main.config.ts
Due: eslint --fix, prettier --write

docs: アーキテクチャ文書の main プロセス構成を現状に更新
  ARCHITECTURE.md
Due: prettier --write

test(config): 設定ストア Config の特性化テストを追加
  src/lib/Config.test.ts
Due: eslint --fix, prettier --write

feat(apm-json): begin/commit によるトランザクションを追加
  src/lib/ApmJson.test.ts
  src/lib/ApmJson.ts
Due: eslint --fix, prettier --write

refactor: apm.json の一括操作をトランザクションで 1 回書き込みに変更
  src/lib/convertId.ts
  src/migration/migration1to2.ts
  src/migration/migration2to3.ts
  src/renderer/main/package.ts
Due: eslint --fix, prettier --write

refactor(main): main プロセスを index.ts / windows.ts / ipcHandlers.ts / services に分割 (#2300)
  ARCHITECTURE.md
  src/main/index.ts
  src/main/ipcHandlers.ts
  src/main/main.ts
  src/main/services/appUpdate.ts
  src/main/services/download.ts
  src/main/services/nicommons.ts
  src/main/windows.ts
  webpack.main.config.ts
Due: eslint --fix, prettier --write

refactor(config): getConfig() による設定ストアのシングルトン化
  src/lib/Config.ts
  src/lib/modList.ts
  src/main/index.ts
  src/migration/migration1to2.ts
  src/migration/migration2to3.ts
  src/renderer/main/core.ts
  src/renderer/main/package.ts
  src/renderer/main/preload.ts
  src/renderer/main/setting.ts
Due: eslint --fix, prettier --write

docs(roadmap): 次の一手を Phase 3(タブ移行)に更新し resolvePath の旧パスを修正
  AGENTS.md
  ROADMAP.md
Due: prettier --write

feat(shared): dataURL 検証を純関数 validateDataUrls として追加
  src/shared/dataUrl.test.ts
  src/shared/dataUrl.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,yml,md,html,css,scss})
